.indexheader {
    &>.navbar {
        // background: #282828;
        top: 0;
        left: 0;
        z-index: 999;
        width: 100%;
        height: 65px;
        min-height: 66px;
        margin-bottom: 0px;
        border: 0;
        transition: background 0.2s linear, height 0.2s ease-in;
    }
    .navbar-brand {
        padding: 0 !important;
    }
    .navbar-nav {
        &>li {
            padding: 18px 13px 17px 12px;
            &>a {
                line-height: 30px;
                height: 30px;
            }
            margin:100px;
            border: 1px;
        }
    }
}